h1 {
    background-color: gray;
}

ul {
    background-color: aqua;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    align-items: flex-end;
}

li {
    display: inline;
}

main {
    background-color: antiquewhite;
}

.subtitle {
    border: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 1px;
    border-color: blue;
    background-color: orchid;
    width: 100%;
}

#about, #work, #contact {
    display: flex;
    justify-content: space-around;
}

.sidebar {
    border: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 1px;
    border-color: red;
    background-color: blueviolet;
    width: 20%;
}

.aboutme, .cards, .links {
    border: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 1px;
    border-color: yellow;
    width: 76%;
}

.aboutme p {
    padding: 10px 20px;
}

.cards {
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards div {
    max-width: 100%;
    border: 2px;
    border-style: solid;
    background-color: honeydew;
}

#card1 {
    width: 100%;
    margin: 2% 2%;
    text-align: center;
}

#card2, #card3, #card4, #card5 {
    width: 44%;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
}
