h1 {
    background-color: gray;
}

ul {
    background-color: aqua;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    align-items: flex-end;
}

li {
    display: inline;
}

main {
    background-color: antiquewhite;
}

#about, #work, #contact {
    display: flex;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.sidebar {
    border: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 1px;
    border-color: black;
    background-color: blueviolet;
    width: 20%;
}

.aboutme, .cards, .links {
    border: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 1px;
    border-color: black;
    background-color: green;
    width: 80%;
}



.aboutme p {
    padding: 10px 20px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#card1 img {
    width: 1200px;
    height: 600px;
}

#card2 img {
    width: 600px;
    height: 300px;
}

#card3 img {
    width: 600px;
    height: 300px;
}

#card4 img {
    width: 600px;
    height: 300px;
}

#card5 img {
    width: 600px;
    height: 300px;
}

#card2, #card3, #card4, #card5 {
    width: 50%;
}
