h1 {
    background-color: gray;
}

ul {
    background-color: aqua;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    align-items: flex-end;
}

li {
    display: inline;
}

main {
    background-color: antiquewhite;
}

.subtitle {
    border: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 1px;
    border-color: blue;
    background-color: orchid;
    width: 100%;
}

#about, #work, #contact {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.sidebar {
    border: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 1px;
    border-color: red;
    background-color: blueviolet;
    width: 20%;
}

.aboutme, .cards, .links {
    border: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 1px;
    border-color: yellow;
    width: 76%;
}

.aboutme p {
    padding: 10px 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*.cards div {
    flex: 2 0 800px;
    background-color: red;
}*/

#card1 {
    width: 100%;
    text-align: center;
}

#card1 img {
    width: 800px;
    height: 500px;
    border-radius: 50%;
}

#card2 img {
    width: 400px;
    height: 250px;
    border-radius: 50%;
}

#card3 img {
    width: 400px;
    height: 250px;
    border-radius: 50%;
}

#card4 img {
    width: 400px;
    height: 250px;
    border-radius: 50%;
}

#card5 img {
    width: 400px;
    height: 250px;
    border-radius: 50%;
}

#card2, #card3, #card4, #card5 {
    width: 50%;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
}
